@use 'sass:map';
@use '@angular/material' as mat;

@use "src/donna/tokens" as tokens;

@mixin defaultPadding() {
  padding: tokens.$donna-size-button-primary-padding-top-default tokens.$donna-size-button-primary-padding-right-default tokens.$donna-size-button-primary-padding-bottom-default tokens.$donna-size-button-primary-padding-left-default;
}

@mixin largePadding() {
  padding: tokens.$donna-size-button-primary-padding-top-large tokens.$donna-size-button-primary-padding-right-large tokens.$donna-size-button-primary-padding-bottom-large tokens.$donna-size-button-primary-padding-left-large;
}

@mixin color($theme) {

  [mat-flat-button],
  [mat-raised-button],
  [mat-button], [mat-stroked-button] {
    @include defaultPadding();
  }

  .large-button {
    &[mat-flat-button],
    &[mat-raised-button],
    &[mat-button] {
      @include largePadding();
    }

    mat-icon {
      transform: scale(1.3);
    }
  }

  .alert-button {
    &[mat-flat-button],
    &[mat-raised-button],
    &[mat-button],
    {
      background: mat.get-color-from-palette(mat.$red-palette, 700);
      color: mat.get-contrast-color-from-palette(mat.$red-palette, 700);
    }
  }

}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
