<div>
  <section>
    <div class="example-label">Normal default </div>
    <div class="example-button-row">
      <button mat-flat-button color="primary" class="small-button">Small</button>
      <button mat-flat-button color="primary">Medium</button>
      <button mat-flat-button color="primary">
        <mat-icon fontIcon="filter_alt"/>
        <span>Medium</span>
        <mat-icon fontIcon="add_circle_outline" iconPositionEnd/>
      </button>
      <button mat-flat-button color="primary" class="small-button">
        <mat-icon fontIcon="filter_alt" />
        <span>Small</span>
        <mat-icon fontIcon="add_circle_outline" iconPositionEnd/>
      </button>
      <button mat-flat-button color="primary" class="rounded-button">
        <mat-icon fontIcon="filter_alt" />
        <span>Rounded</span>
        <mat-icon fontIcon="add_circle_outline" iconPositionEnd/>
      </button>
      <button mat-flat-button color="primary" class="rounded-button">
        <span>Rounded</span>
      </button>
      <button mat-flat-button disabled>Disabled</button>
      <button mat-flat-button disabled class="rounded-button">Disabled</button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Icon Only</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button>
          <mat-icon fontIcon="add_circle_outline" />
        </button>
        <button mat-icon-button disabled>
          <mat-icon fontIcon="add_circle_outline" />
        </button>
      </div>
    </div>
  </section>
</div>
