$donna-palette: (
  50 : #f9fafb,
  100 : #f1f3f5,
  200 : #e7ecee,
  300 : #dde4e7,
  400 : #d6dee1,
  500 : #cfd8dc,
  600 : #cad4d8,
  700 : #c3ced3,
  800 : #bdc8ce,
  900 : #b2bfc5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fcfeff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$nsyellow-palette: (
  50 : #fff9e3,
  100 : #ffefb9,
  200 : #ffe48b,
  300 : #ffd95d,
  400 : #ffd13a,
  500 : #ffc917,
  600 : #ffc314,
  700 : #ffbc11,
  800 : #ffb50d,
  900 : #ffa907,
  A100 : #ffffff,
  A200 : #fffbf4,
  A400 : #ffe7c1,
  A700 : #ffdda7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$nsblue-palette: (
  50 : #e0e6f0,
  100 : #b3c1da,
  200 : #8098c1,
  300 : #4d6ea8,
  400 : #264f95,
  500 : #003082,
  600 : #002b7a,
  700 : #00246f,
  800 : #001e65,
  900 : #001352,
  A100 : #8595ff,
  A200 : #5269ff,
  A400 : #1f3dff,
  A700 : #0527ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$nslightblue-palette: (
  50 : #e0ecfa,
  100 : #b3d0f2,
  200 : #80b1e9,
  300 : #4d92e0,
  400 : #267ada,
  500 : #0063d3,
  600 : #005bce,
  700 : #0051c8,
  800 : #0047c2,
  900 : #0035b7,
  A100 : #e0e7ff,
  A200 : #adbfff,
  A400 : #7a97ff,
  A700 : #6183ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$nswhite-palette: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
