/* For use in src/lib/core/theming/_palette.scss */
$donna-palette: (
  50 : #f9fafb,
  100 : #f1f3f5,
  200 : #e7ecee,
  300 : #dde4e7,
  400 : #d6dee1,
  500 : #cfd8dc,
  600 : #cad4d8,
  700 : #c3ced3,
  800 : #bdc8ce,
  900 : #b2bfc5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fcfeff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

