$donna-size-button-primary-padding-left-large: 2.1rem;
$donna-size-button-primary-padding-left-default: 1.1rem;
$donna-size-button-primary-padding-left-small: 0.25rem;
$donna-size-button-primary-padding-right-large: 2.1rem;
$donna-size-button-primary-padding-right-default: 1.1rem;
$donna-size-button-primary-padding-right-small: 0.25rem;
$donna-size-button-primary-gap-default: 0.6rem;
$donna-size-button-primary-padding-top-large: 1.6rem;
$donna-size-button-primary-padding-top-default: 0.6rem;
$donna-size-button-primary-padding-top-small: 0.1rem;
$donna-size-button-primary-padding-bottom-large: 1.6rem;
$donna-size-button-primary-padding-bottom-default: 0.6rem;
$donna-size-button-primary-padding-bottom-small: 0.1rem;
$donna-color-foundation-geyser: #cfd8dc;
$donna-color-foundation-black: #000000;
$donna-color-button-primary-background-default: #cfd8dc;
$donna-color-icon-primary-background-default-fill: #000000;
$donna-color-icon-primary-background-default-border: #000000;
$donna-color-typography-primary-background-default-fill: #000000;
$donna-radius-button-primary-default-small: 0.25rem;
$donna-radius-button-primary-default-xlarge: 100%;
